<div>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <!-- <i class='bx bxs-user-circle bx-sm' ></i> -->
            <div class="p-2" style="color: rgb(46, 169, 190);">
                Arturo Mejia hernandez
            </div>
            <div style="color: rgb(46, 169, 190);">
                <i class='bx bx-log-out-circle bx-sm' (click)="logout()"></i>
            </div>
        </div>

      </nav>
</div>
<app-menu></app-menu>
<router-outlet></router-outlet>