<div>
    <div class="fixed-top">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div></div>
                <!-- <i class='bx bxs-user-circle bx-sm' ></i> -->
                <h4 class="p-2">
                   {{username}}
                </h4>
                <div style="color: rgb(0, 0, 0);">
                    <i class='pi pi-power-off bx-sm' (click)="logout()"></i>
                </div>
            </div>
    
          </nav>
    </div>
    <app-menu></app-menu>
    <router-outlet></router-outlet>
</div>

