
<nav class="navbar navbar-expand-lg fixed-bottom  bg-body-tertiary card"  data-bs-theme="light">
    <div class="container-fluid">

      <div class="w-100 d-flex justify-content-center gap-3 flex-wrap">
        <div class="d-flex flex-nowrap justify-content-center align-items-center p-2 rounded-3 m-active" style="color: rgb(46, 169, 190);">
          <a> <i class='bx bx-key bx-sm'></i></a>
          <div class="p-1">Contraseñas</div>
        </div>
        <div class="d-flex flex-nowrap justify-content-center align-items-center" style="color: rgb(46, 169, 190);">
          <a><i class='bx bx-user bx-sm text-p-color' ></i></a>
          <div class="p-1">Cuenta</div>
        </div>
          
      </div>


    </div>
  </nav> 